<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="rabbit_mq" connectionString="amqp://dgwoegwe:y4f6lYty1ZGZ2DG6yq4U8wyuBAtya-tv@crow.rmq.cloudamqp.com/dgwoegwe"/>
  </connectionStrings>
  <rabbitConfiguration>
    <exchangeName name="exchange" />
    <queues>
      <add value="queue1" />
      <add value="queue2" />
      <add value="queue3" />
      <add value="queue4" />
    </queues>
  </rabbitConfiguration>
</configuration>