<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="rabbit_mq" connectionString="amqp://ilaoklcx:OfEMmmsEpt6hYDhL_jj3F19cv5H4idWL@squid.rmq.cloudamqp.com/ilaoklcx"/>
    <add name="isuakr_db" connectionString="database=dfojj0abvgh5mo;host=ec2-54-217-204-34.eu-west-1.compute.amazonaws.com;password=d37cfbba91050b3142ffda2b21a94fc5117af45552264d55c033bf397e0f132e;username=ukbacjfmdnmimz;port=5432;pooling=True;trust server certificate=True;ssl mode=Require"/>
  </connectionStrings>
  <rabbitConfiguration>
    <exchangeName name="exchange" />
    <queues>
      <add value="queue1" />
      <add value="queue2" />
      <add value="queue3" />
      <add value="queue4" />
    </queues>
  </rabbitConfiguration>
</configuration>
