<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="rabbit_mq" connectionString="amqp://ilaoklcx:OfEMmmsEpt6hYDhL_jj3F19cv5H4idWL@squid.rmq.cloudamqp.com/ilaoklcx"/>
    <add name="isuakr_db" connectionString="database=dfqjg178fisif3;host=ec2-176-34-184-174.eu-west-1.compute.amazonaws.com;password=d21ed0472a9f90c3ed1a987d81fab642d98fb0efe9de3afd6a855f9948030a1b;username=bmtvsxirwexwqf;port=5432;pooling=True;trust server certificate=True;ssl mode=Require"/>
  </connectionStrings>
  <rabbitConfiguration>
    <exchangeName name="exchange" />
    <queues>
      <add value="queue1" />
      <add value="queue2" />
      <add value="queue3" />
      <add value="queue4" />
    </queues>
  </rabbitConfiguration>
</configuration>